USE [master]
GO
/****** Object:  Database [AIRLINE]    Script Date: 6/23/2018 11:26:53 PM ******/
CREATE DATABASE [AIRLINE]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRLINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIRLINE]
GO
USE [AIRLINE]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [char](10) NOT NULL,
	[GIAVEHANG1] [money] NULL,
	[GIAVEHANG2] [money] NULL,
	[SANBAYDI] [char](10) NULL,
	[SANBAYDEN] [char](10) NULL,
	[NGAY] [date] NULL,
	[GIO] [time](7) NULL,
	[THOIGIANBAY] [int] NULL,
	[HANG1] [int] NULL,
	[HANG2] [int] NULL,
	[HANG1CONLAI] [int] NULL,
	[HANG2CONLAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[THANG] [smallint] NULL,
	[NAM] [smallint] NULL,
	[DOANHTHU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [char](11) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[CMND] [char](10) NULL,
	[EMAIL] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANGUOIDUNG] [char](10) NOT NULL,
	[TENNGUOIDUNG] [char](20) NULL,
	[MATKHAU] [char](20) NULL,
	[LOAINGUOIDUNG] [bit] NULL,
	[HOTEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH6]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH6](
	[SOLUONGSANBAY] [int] NULL,
	[THOIGIANBAYTOITHIEU] [int] NULL,
	[SOSANBAYTRUNGGIANTOIDA] [int] NULL,
	[THOOIGIANDUNGTOIDA] [int] NULL,
	[THOIGIANDUNGTOITHIEU] [int] NULL,
	[SOLUONGVEHANG1] [int] NULL,
	[SOLUONGVEHANG2] [int] NULL,
	[THOIGIANDATVECHAMNHAT] [int] NULL,
	[THOIGIANHUYDATVE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MASANBAY] [char](10) NOT NULL,
	[TENSANBAY] [nvarchar](30) NULL,
	[TINH] [nvarchar](30) NULL,
	[QUOCGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAYTRUNGGIAN]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAYTRUNGGIAN](
	[MASANBAY] [char](10) NOT NULL,
	[MACHUYENBAY] [char](10) NOT NULL,
	[THOIGIANDUNG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC,
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [char](10) NOT NULL,
	[MACHUYENBAY] [char](10) NULL,
	[MAKHACHHANG] [char](10) NULL,
	[HANGVE] [smallint] NULL,
	[GIAVE] [money] NULL,
	[NGAYDATVE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([SANBAYDI])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([SANBAYDEN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MASANBAY])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
/****** Object:  Trigger [dbo].[GIAVE]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[GIAVE] ON [dbo].[CHUYENBAY]
	FOR INSERT, UPDATE
	AS
		BEGIN					
			DECLARE @GIAVEHANG1 MONEY
			DECLARE @GIAVEHANG2 MONEY
			

			SELECT @GIAVEHANG1 = GIAVEHANG1 FROM INSERTED
			SELECT @GIAVEHANG2 = GIAVEHANG2 FROM INSERTED
			IF (@GIAVEHANG1 != @GIAVEHANG2*1.05)
				BEGIN
					PRINT 'GIA VE HANG 1 PHAI BANG 105% GIA VE HANG 2'
					ROLLBACK TRAN
				END
		END
 
GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [GIAVE]
GO
/****** Object:  Trigger [dbo].[THOIGIANBAY_MIN]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THOIGIANBAY_MIN] ON [dbo].[CHUYENBAY]
	FOR INSERT, UPDATE 
	AS
		BEGIN
			DECLARE @THOIGIANBAY INT
			SELECT @THOIGIANBAY = THOIGIANBAY FROM INSERTED
			DECLARE @MINBAYTOITHIEU INT
			SELECT @MINBAYTOITHIEU =THOIGIANBAYTOITHIEU FROM QUYDINH6
			IF (@THOIGIANBAY < @MINBAYTOITHIEU)
				BEGIN
					PRINT 'THOI GIAN BAY TOI THIEU LA .... !'
					ROLLBACK TRAN
				END
		END
GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [THOIGIANBAY_MIN]
GO
/****** Object:  Trigger [dbo].[THANGNAM]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THANGNAM] ON [dbo].[DOANHTHU]
	FOR INSERT,UPDATE
	AS
		BEGIN
			DECLARE @THANG SMALLINT;
			DECLARE @NAM SMALLINT;
			SELECT @THANG = THANG FROM INSERTED
			SELECT @NAM = NAM FROM INSERTED
			IF (@THANG >12 OR @THANG < 1 OR @NAM <2015)
				BEGIN
					PRINT 'THANG NAM KHONG HOP LE !'
					ROLLBACK TRAN
				END
		END
GO
ALTER TABLE [dbo].[DOANHTHU] ENABLE TRIGGER [THANGNAM]
GO
/****** Object:  Trigger [dbo].[SOLUONGSANBAY]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SOLUONGSANBAY] ON [dbo].[SANBAY]  
	FOR INSERT
	AS
		BEGIN
			DECLARE @SANBAY INT
			SELECT @SANBAY = COUNT(MASANBAY) FROM SANBAY
			DECLARE @MAXSANBAY INT 
			SELECT @MAXSANBAY = SOLUONGSANBAY FROM QUYDINH6
		    IF (@SANBAY >= @MAXSANBAY)
			BEGIN
				PRINT 'VUOT QUA SO LUONG SAN BAY TOI DA !'
				ROLLBACK TRAN
			END
		END
GO
ALTER TABLE [dbo].[SANBAY] ENABLE TRIGGER [SOLUONGSANBAY]
GO
/****** Object:  Trigger [dbo].[SANBAYTRUNGGIAN_MAX]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SANBAYTRUNGGIAN_MAX] ON [dbo].[SANBAYTRUNGGIAN]
	FOR INSERT, UPDATE  
	AS
		BEGIN
			DECLARE @SL SMALLINT
			DECLARE @MACHUYENBAY CHAR(10)
			DECLARE @MAX INT
			SELECT @MAX = SOSANBAYTRUNGGIANTOIDA FROM QUYDINH6
			SELECT @MACHUYENBAY = MACHUYENBAY FROM INSERTED
			SELECT @SL =  COUNT(MASANBAY) FROM SANBAYTRUNGGIAN WHERE MACHUYENBAY = @MACHUYENBAY
			IF (@SL = @MAX)
				BEGIN
					PRINT 'SO LUONG SAN BAY TRUNG GIAN TOI DA LA ' + @MAX
					ROLLBACK TRAN
				END
		END
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN] ENABLE TRIGGER [SANBAYTRUNGGIAN_MAX]
GO
/****** Object:  Trigger [dbo].[THOIGIANDUNG_DOM]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THOIGIANDUNG_DOM] ON [dbo].[SANBAYTRUNGGIAN]
	FOR INSERT, UPDATE
	AS
		BEGIN
			DECLARE @TG INT
			SELECT @TG = THOIGIANDUNG FROM INSERTED
			DECLARE @MINDUNG INT
			SELECT @MINDUNG = THOIGIANDUNGTOITHIEU FROM QUYDINH6
			DECLARE @MAXDUNG INT
			SELECT @MAXDUNG= THOOIGIANDUNGTOIDA FROM QUYDINH6
			IF (@TG <@MINDUNG OR @TG >@MAXDUNG)
			BEGIN
				PRINT 'THOI GIAN DUNG PHAI TU ... !'
				ROLLBACK TRAN
			END 
		END
GO
ALTER TABLE [dbo].[SANBAYTRUNGGIAN] ENABLE TRIGGER [THOIGIANDUNG_DOM]
GO
/****** Object:  Trigger [dbo].[BANVE]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BANVE] ON [dbo].[VE]
	FOR INSERT , UPDATE 
	AS
		BEGIN
			DECLARE @MACHUYENBAY CHAR(10)
			DECLARE @HANG1CONLAI INT
			DECLARE @HANG2CONLAI INT
			DECLARE @HANGVE SMALLINT
			SELECT @HANGVE =  HANGVE FROM INSERTED
			IF (@HANGVE = 1)
				BEGIN
					SELECT @HANG1CONLAI = HANG1CONLAI FROM CHUYENBAY WHERE MACHUYENBAY = @MACHUYENBAY	
					IF (@HANG1CONLAI = 0) 
						BEGIN
							PRINT 'HET VE HANG 1'
							ROLLBACK TRAN
						END
					ELSE 
						BEGIN
							UPDATE CHUYENBAY
							SET HANG1CONLAI = HANG1CONLAI - 1
						END
				END
			ELSE
			IF (@HANGVE = 2)
				BEGIN
					SELECT @HANG2CONLAI = HANG2CONLAI FROM CHUYENBAY WHERE MACHUYENBAY = @MACHUYENBAY

					IF (@HANG2CONLAI = 0) 
						BEGIN
							PRINT 'HET VE HANG 2'
							ROLLBACK TRAN
						END
					ELSE 
						BEGIN
							UPDATE CHUYENBAY
							SET HANG2CONLAI = HANG2CONLAI - 1
						END
				END
		END
GO
ALTER TABLE [dbo].[VE] ENABLE TRIGGER [BANVE]
GO
/****** Object:  Trigger [dbo].[HANCHOTDATVE]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HANCHOTDATVE] ON [dbo].[VE]
	FOR INSERT, UPDATE
	AS
		BEGIN
			DECLARE @NGAYKHOIHANH DATE
			DECLARE @MACHUYENBAY CHAR(10)
			DECLARE @NGAYDATVE DATE
			DECLARE @TEMP INT


			SELECT @MACHUYENBAY = MACHUYENBAY FROM INSERTED
			SELECT @NGAYKHOIHANH = NGAY FROM CHUYENBAY WHERE MACHUYENBAY = @MACHUYENBAY
			SELECT @NGAYDATVE = CURRENT_TIMESTAMP
			SELECT @TEMP = DATEDIFF(DAY,@NGAYDATVE,@NGAYKHOIHANH)
			DECLARE @THOIGIANDATVECHAMNHAT INT;
			SELECT @THOIGIANDATVECHAMNHAT= THOIGIANDATVECHAMNHAT FROM QUYDINH6

			IF (@TEMP < @THOIGIANDATVECHAMNHAT)
				BEGIN
					PRINT 'DA HET HAN DAT VE !'
					ROLLBACK TRAN
				END
		END
GO
ALTER TABLE [dbo].[VE] ENABLE TRIGGER [HANCHOTDATVE]
GO
/****** Object:  Trigger [dbo].[THEMTHOIGIANDATVE]    Script Date: 6/23/2018 11:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THEMTHOIGIANDATVE] ON [dbo].[VE]
	AFTER INSERT, UPDATE
	AS
		BEGIN
			UPDATE VE
			SET NGAYDATVE = GETDATE()
			WHERE MAVE = (SELECT MAVE FROM INSERTED)
		END
GO
ALTER TABLE [dbo].[VE] ENABLE TRIGGER [THEMTHOIGIANDATVE]
GO
USE [master]
GO
